<img style="float: left;;" src='Figures/iteso.jpg' width="100" height="200"/></a>

# <center> <font color= #000047> Práctica Codificación de Variables Categóricas </font> </center>

Considerando el conjunto de datos `melb_data.csv` con sus características:

- **Rooms:** Number of rooms

- **Price:** Price in dollars

- **Method:** S - property sold; SP - property sold prior; PI - property passed in; PN - sold prior not disclosed; SN - sold not disclosed; NB - no bid; VB - vendor bid; W - withdrawn prior to auction; SA - sold after auction; SS - sold after auction price not disclosed. N/A - price or highest bid not available.

- **Type:** br - bedroom(s); h - house,cottage,villa, semi,terrace; u - unit, duplex; t - townhouse; dev site - development site; o res - other residential.

- **SellerG:** Real Estate Agent

- **Date:** Date sold

- **Distance:** Distance from CBD

- **Regionname:** General Region (West, North West, North, North east …etc)

- **Propertycount:** Number of properties that exist in the suburb.

- **Bedroom2 :** Scraped # of Bedrooms (from different source)

- **Bathroom:** Number of Bathrooms

- **Car:** Number of carspots

- **Landsize:** Land Size

- **BuildingArea:** Building Size

- **CouncilArea:** Governing council for the area

In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Leyendo el dataset
data = pd.read_csv('melb_data.csv')

In [16]:
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [18]:
categorical_cols = [cname for cname in data.columns if data[cname].dtype == "object"]
categorical_cols

['Suburb',
 'Address',
 'Type',
 'Method',
 'SellerG',
 'Date',
 'CouncilArea',
 'Regionname']

In [27]:
for name in categorical_cols:
    print(data[name].value_counts(), 'Valores unicos', data[name].nunique(), end='\n\n')

Suburb
Reservoir         359
Richmond          260
Bentleigh East    249
Preston           239
Brunswick         222
                 ...
Sandhurst           1
Bullengarook        1
Croydon South       1
Montrose            1
Monbulk             1
Name: count, Length: 314, dtype: int64 Valores unicos 314

Address
36 Aberfeldie St    3
2 Bruce St          3
5 Charles St        3
53 William St       3
14 Arthur St        3
                   ..
16 Alleford St      1
2/1073 Centre Rd    1
14 Columbia St      1
21 Hardy Ct         1
6 Agnes St          1
Name: count, Length: 13378, dtype: int64 Valores unicos 13378

Type
h    9449
u    3017
t    1114
Name: count, dtype: int64 Valores unicos 3

Method
S     9022
SP    1703
PI    1564
VB    1199
SA      92
Name: count, dtype: int64 Valores unicos 5

SellerG
Nelson           1565
Jellis           1316
hockingstuart    1167
Barry            1011
Ray               701
                 ...
Prowse              1
Luxe                1
Zahn                1
Homes               1
Point               1
Name: count, Length: 268, dtype: int64 Valores unicos 268

Date
27/05/2017    473
3/06/2017     395
12/08/2017    387
17/06/2017    374
27/11/2016    362
29/07/2017    341
4/03/2017     337
25/02/2017    333
24/06/2017    329
10/12/2016    319
22/07/2017    317
8/07/2017     310
18/03/2017    303
15/10/2016    300
12/11/2016    292
15/07/2017    292
3/12/2016     288
8/04/2017     280
1/07/2017     276
19/11/2016    266
20/05/2017    262
18/06/2016    261
28/05/2016    258
13/05/2017    255
16/09/2017    254
8/10/2016     251
23/09/2017    247
26/08/2017    246
7/05/2016     245
17/09/2016    242
24/09/2016    240
28/08/2016    238
10/09/2016    235
16/04/2016    217
29/04/2017    217
4/06/2016     214
3/09/2017     214
27/06/2016    211
3/09/2016     208
9/09/2017     205
22/05/2016    203
19/08/2017    201
7/11/2016     194
14/05/2016    193
22/08/2016    192
30/07/2016    172
6/08/2016     154
16/07/2016    141
6/05/2017     140
22/04/2017    134
26/07/2016    133
13/08/2016    132
23/04/2016    101
11/02/2017     84
12/06/2016     46
11/03/2017     38
4/02/2016      26
28/01/2016      2
Name: count, dtype: int64 Valores unicos 58

CouncilArea
Moreland             1163
Boroondara           1160
Moonee Valley         997
Darebin               934
Glen Eira             848
Stonnington           719
Maribyrnong           692
Yarra                 647
Port Phillip          628
Banyule               594
Bayside               489
Melbourne             470
Hobsons Bay           434
Brimbank              424
Monash                333
Manningham            311
Whitehorse            304
Kingston              207
Whittlesea            167
Hume                  164
Wyndham                86
Knox                   80
Maroondah              80
Melton                 66
Frankston              53
Greater Dandenong      52
Casey                  38
Nillumbik              36
Yarra Ranges           18
Cardinia                8
Macedon Ranges          7
Unavailable             1
Moorabool               1
Name: count, dtype: int64 Valores unicos 33

Regionname
Southern Metropolitan         4695
Northern Metropolitan         3890
Western Metropolitan          2948
Eastern Metropolitan          1471
South-Eastern Metropolitan     450
Eastern Victoria                53
Northern Victoria               41
Western Victoria                32
Name: count, dtype: int64 Valores unicos 8

In [28]:
# separar las variables de predicción y la predicción
y = data.Price
X = data.drop(['Price'], axis=1)

In [29]:
# Dividir los datos en entrenamiento y testeo
X_train_full, X_test_full, y_train, y_test = train_test_split(X, y, train_size=0.8, test_size=0.2,
                                                                random_state=0)

#### Limpiar el dataset

In [30]:
# Eliminar las columnas que tengan algún nan (el aproach más simple)
cols_with_missing = [col for col in X_train_full.columns if X_train_full[col].isnull().any()] 
X_train_full.drop(cols_with_missing, axis=1, inplace=True)
X_test_full.drop(cols_with_missing, axis=1, inplace=True)

In [31]:
#Seleccionar las columnas categóricas con una pequeña cardinalidad (arbitrario) 
low_cardinality_cols = [cname for cname in X_train_full.columns if X_train_full[cname].nunique() < 10 and 
                        X_train_full[cname].dtype == "object"]

# Seleccionar las columnas numéricas
numerical_cols = [cname for cname in X_train_full.columns if X_train_full[cname].dtype in ['int64', 'float64']]

In [32]:
low_cardinality_cols

['Type', 'Method', 'Regionname']

In [33]:
# Obtener las columnas seleccionadas
my_cols = low_cardinality_cols + numerical_cols
X_train = X_train_full[my_cols].copy()
X_test = X_test_full[my_cols].copy()

In [34]:
X_train.head(5)

,Type,Method,Regionname,Rooms,Distance,Postcode,Bedroom2,Bathroom,Landsize,Lattitude,Longtitude,Propertycount
12167,u,S,Southern Metropolitan,1,5.0,3182.0,1.0,1.0,0.0,-37.85984,144.9867,13240.0
6524,h,SA,Western Metropolitan,2,8.0,3016.0,2.0,2.0,193.0,-37.85800,144.9005,6380.0
8413,h,S,Western Metropolitan,3,12.6,3020.0,3.0,1.0,555.0,-37.79880,144.8220,3755.0
2919,u,SP,Northern Metropolitan,3,13.0,3046.0,3.0,1.0,265.0,-37.70830,144.9158,8870.0
6043,h,S,Western Metropolitan,3,13.3,3020.0,3.0,1.0,673.0,-37.76230,144.8272,4217.0

In [35]:
# Obtener la lista de las variables categóricas
s = (X_train.dtypes == 'object')
object_cols = list(s[s].index)
object_cols

['Type', 'Method', 'Regionname']

Definimos una función `score_codification()` para comparar enfoques diferentes para tratar con variables categóricas. Esta función obtiene el error absoluto medio (**MAE**) de un modelo de RandomForest.

In [36]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

def score_codification(X_train, X_test, y_train, y_test):
    model = RandomForestRegressor(n_estimators=100, random_state=0)
    model.fit(X_train, y_train)
    preds = model.predict(X_test)
    return mean_absolute_error(y_test, preds)

Se desea obtener un valor de **MAE** lo más bajo posible.

#### 1.- Eliminando Variables Categóricas
Elimine las variables categóricas de $X\_train$ y $X\_test$ y obtenga el MAE mediante la función `score_codification()`

In [37]:
# Eliminar variables categóricas
drop_X_train = X_train.select_dtypes(exclude=['object'])
drop_X_test = X_test.select_dtypes(exclude=['object'])
mae_drop = score_codification(drop_X_train, drop_X_test, y_train, y_test)
print(f"MAE eliminando variables categóricas: {mae_drop}")

MAE eliminando variables categóricas: 175703.48185157913

#### 2.- Codificación One-Hot.
Aplique una codificación One-Hot a las variables categóricas y obtenga el MAE mediante la función `score_codification()`

In [50]:
from sklearn.preprocessing import OneHotEncoder

# One-hot encoding
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
OH_cols_train = pd.DataFrame(OH_encoder.fit_transform(X_train[object_cols]), columns = OH_encoder.get_feature_names_out())
OH_cols_test = pd.DataFrame(OH_encoder.transform(X_test[object_cols]),  columns = OH_encoder.get_feature_names_out())

# Index alignment
OH_cols_train.index = X_train.index
OH_cols_test.index = X_test.index

# Remove categorical columns and add one-hot columns
num_X_train = X_train.drop(object_cols, axis=1)
num_X_test = X_test.drop(object_cols, axis=1)

OH_X_train = pd.concat([num_X_train, OH_cols_train], axis=1)
OH_X_test = pd.concat([num_X_test, OH_cols_test], axis=1)

In [51]:
mae_oh = score_codification(OH_X_train, OH_X_test, y_train, y_test)
print(f"MAE con One-Hot Encoding: {mae_oh}")

MAE con One-Hot Encoding: 166089.4893009678

#### 3.- Codificación por Conteos
Aplique una codificación por $conteos$ o $frecuencias$ de categorías a las variables categóricas y obtenga el MAE mediante la función `score_codification()`. **¿En qué casos puede ser útil este tipo de codificación?**

In [52]:
# Codificación por conteo
X_train_count = X_train.copy()
X_test_count = X_test.copy()

for col in object_cols:
    freq = X_train_count[col].value_counts()
    X_train_count[col] = X_train_count[col].map(freq)
    X_test_count[col] = X_test_count[col].map(freq)

mae_count = score_codification(X_train_count, X_test_count, y_train, y_test)
print(f"MAE con codificación por conteo: {mae_count}")

MAE con codificación por conteo: 167008.48735395187

#### 4.- Codificación con base a la media

Codifique una variable categórica usando la media del target (`Price`) para cada categoría. Evalúe el MAE. **¿Qué riesgos tiene este método? ¿Cómo se puede evitar el sobreajuste?**

In [ ]:
# Codificación en base a la media
X_train_mean = X_train.copy()
X_test_mean = X_test.copy()

if object_cols:
    col = object_cols[0]
    means = X_train_mean.join(y_train).groupby(col)['Price'].mean()
    X_train_mean[col] = X_train_mean[col].map(means)
    X_test_mean[col] = X_test_mean[col].map(means)

    # Para las demás variables categóricas, usar One-Hot
    other_obj_cols = object_cols[1:]
    OH_encoder3 = OneHotEncoder(handle_unknown='ignore', sparse=False)
    OH_cols_train3 = pd.DataFrame(OH_encoder3.fit_transform(X_train_mean[other_obj_cols])) if other_obj_cols else pd.DataFrame()
    OH_cols_test3 = pd.DataFrame(OH_encoder3.transform(X_test_mean[other_obj_cols])) if other_obj_cols else pd.DataFrame()

    OH_cols_train3.index = X_train_mean.index
    OH_cols_test3.index = X_test_mean.index

    num_X_train3 = X_train_mean.drop(other_obj_cols, axis=1)
    num_X_test3 = X_test_mean.drop(other_obj_cols, axis=1)

    OH_X_train3 = pd.concat([num_X_train3, OH_cols_train3], axis=1)
    OH_X_test3 = pd.concat([num_X_test3, OH_cols_test3], axis=1)

    mae_mean = score_codification(OH_X_train3, OH_X_test3, y_train, y_test)
    print(f"MAE con Target/Mean Encoding para '{col}': {mae_mean}")